In [1]:
from funcoes_auxiliares import *

pd.options.display.float_format = "{:.2f}".format
pd.options.display.max_rows = 6

In [2]:
estado = "MG"

In [3]:
nome_arquivo_despesas = "../dados-limpos/aquisicao_por_classe_de_rendimento_e_estado/%s/dados-limpos/%s_tipos_despesas.csv" % (estado, estado)

In [4]:
df_despesas = carregar_dataset_e_converter_dados(nome_arquivo_despesas)

In [5]:
df_despesas

,"Tipos de despesa, número e tamanho médio das famílias",Despesa monetária e não monetária média mensal familiar (R$),Total,Até 1908 (2),Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Despesa total,4390.72,1501.78,2271.56,3697.32,6575.93,9589.42,14391.83,23891.78
1,Despesas correntes,4082.30,1457.93,2159.63,3510.91,6027.63,8811.94,13263.37,20768.46
2,Despesas de consumo,3635.92,1392.69,2039.02,3247.30,5409.91,7559.27,10752.93,15961.57
...,...,...,...,...,...,...,...,...,...
92,Prestação de imóvel,46.30,4.62,13.36,26.47,97.15,86.72,236.52,412.36
93,Número de famílias,7149295.00,1392069.00,1478894.00,2470800.00,1092145.00,384637.00,207088.00,123662.00
94,Tamanho médio da família,2.93,2.36,2.69,3.13,3.48,3.11,2.93,3.02

In [6]:
df_despesas = df_despesas.drop(columns=['Total'])
df_despesas = df_despesas.drop(columns=['Despesa monetária e não monetária média mensal familiar (R$)'])

In [7]:
df_despesas = df_despesas.drop([0, 1, 2]).reset_index(drop=True)

In [8]:
df_despesas

,"Tipos de despesa, número e tamanho médio das famílias",Até 1908 (2),Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Alimentação,470.26,682.91,965.76,1183.04,1511.11,2111.32
1,Habitação,817.04,1148.45,1658.10,2278.54,3102.18,4744.36
2,Aluguel,423.40,581.47,799.82,1098.35,1430.00,2098.02
...,...,...,...,...,...,...,...
89,Prestação de imóvel,13.36,26.47,97.15,86.72,236.52,412.36
90,Número de famílias,1478894.00,2470800.00,1092145.00,384637.00,207088.00,123662.00
91,Tamanho médio da família,2.69,3.13,3.48,3.11,2.93,3.02

In [9]:
df_despesas = retorna_dataset_com_soma_colunas_classes_sociais(df_despesas)

In [10]:
df_despesas

,"Tipos de despesa, número e tamanho médio das famílias",Até 1908 (2),Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Alimentação,470.26,682.91,965.76,1183.04,1511.11,2111.32
1,Habitação,817.04,1148.45,1658.10,2278.54,3102.18,4744.36
2,Aluguel,423.40,581.47,799.82,1098.35,1430.00,2098.02
...,...,...,...,...,...,...,...
90,Número de famílias,1478894.00,2470800.00,1092145.00,384637.00,207088.00,123662.00
91,Tamanho médio da família,2.69,3.13,3.48,3.11,2.93,3.02
92,Total gasto por classes,4723.72,7618.75,13440.48,19663.04,29365.22,48634.53

# Parte de predição

In [11]:
def converter_valores_para_porcentagem(item, total):
    return round((item/total), 5)

In [12]:
df_despesas.iloc[0:-3, 1] = df_despesas.iloc[0:-3, 1].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 1],))
df_despesas.iloc[0:-3, 2] = df_despesas.iloc[0:-3, 2].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 2],))
df_despesas.iloc[0:-3, 3] = df_despesas.iloc[0:-3, 3].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 3],))
df_despesas.iloc[0:-3, 4] = df_despesas.iloc[0:-3, 4].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 4],))
df_despesas.iloc[0:-3, 5] = df_despesas.iloc[0:-3, 5].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 5],))
df_despesas.iloc[0:-3, 6] = df_despesas.iloc[0:-3, 6].apply(converter_valores_para_porcentagem, args=(df_despesas.iloc[-1, 6],))

In [13]:
df_despesas.iloc[-1, 1:] = 1

In [14]:
df_despesas

,"Tipos de despesa, número e tamanho médio das famílias",Até 1908 (2),Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Alimentação,0.10,0.09,0.07,0.06,0.05,0.04
1,Habitação,0.17,0.15,0.12,0.12,0.11,0.10
2,Aluguel,0.09,0.08,0.06,0.06,0.05,0.04
...,...,...,...,...,...,...,...
90,Número de famílias,1478894.00,2470800.00,1092145.00,384637.00,207088.00,123662.00
91,Tamanho médio da família,2.69,3.13,3.48,3.11,2.93,3.02
92,Total gasto por classes,1,1,1,1,1,1