In [1]:
#Os dados foram retirados do site do IBGE no seguinte link: 
#https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html

#Após retirada dos dados em xlsx, exportamos cada uma das tabelas no formato de csv e limpamos manualmente
#os headers. Depois disso, partimos para a leitura dos mesmos, para início da interpretação

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format

In [2]:
def convertToFloat(df, columns, skipComma):
    for column in columns:
        if(skipComma == False):
            df[column] = [x.replace(",", ".") for x in df[column]]
        df[column] = df[column].replace("-", "-1")
        df[column] = df[column].astype(float)
    return df

In [3]:
#Testando primeiro para planilha total da pasta classe_de_rendimento
total = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/total.csv', index_col=False, squeeze=True)

#Remove colunas unamed
total = total.dropna(how='all', axis='columns')

#converte colunas em string para float
total = convertToFloat(total, total.columns[1:], True)

total.head()
# as colunas mostram o alimento, e seu consumo em kg baseado na renda das pessoas

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,27.76,30.50,30.09,28.19,23.59,24.99,22.25
1,Cereais,21.20,23.36,22.98,21.75,17.78,18.88,16.47
2,Arroz não especificado,1.54,1.63,1.31,1.57,1.39,1.62,1.96
3,Arroz polido,18.22,20.48,20.28,18.80,14.87,15.57,12.40
4,Milho em grão,0.73,0.77,0.73,0.64,0.72,0.73,1.10

In [4]:
#Testando também para uma das regiões da pasta classe_de_rendimento
regiao = 'norte'

df = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/'+regiao+'.csv', index_col=False, squeeze=True)

#Remove colunas unamed
df = df.dropna(how='all', axis='columns')

#converte colunas em string para float
df = convertToFloat(df, df.columns[1:], False)

df.head()
#O mesmo pode ser feito com todas as outras planilhas seguindo esse mesmo formato descrito acima
# as colunas mostram o alimento, e seu consumo em kg baseado na renda das pessoas

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,26.64,26.77,28.14,25.79,27.03,24.22,23.90
1,Cereais,21.32,21.53,22.81,20.34,21.41,19.30,19.39
2,Arroz não especificado,1.97,2.50,1.71,1.64,1.44,1.75,2.27
3,Arroz polido,17.94,17.84,19.64,16.94,18.65,16.48,15.87
4,Milho em grão,0.84,0.75,1.03,0.89,0.66,0.67,0.87