In [11]:
#Os dados foram retirados do site do IBGE no seguinte link: 
#https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html

#Após retirada dos dados em xlsx, exportamos cada uma das tabelas no formato de csv e limpamos manualmente
#os headers. Depois disso, partimos para a leitura dos mesmos, para início da interpretação

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format

In [12]:
def convertToFloat(df, columns, skipComma):
    for column in columns:
        if(skipComma == False):
            df[column] = [x.replace(",", ".") for x in df[column]]
        df[column] = df[column].replace("-", "0")
        df[column] = df[column].astype(float)
    return df

In [13]:
#Testando primeiro para planilha total da pasta classe_de_rendimento
total = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/total.csv', index_col=False, squeeze=True)

#Remove colunas unamed
total = total.dropna(how='all', axis='columns')

#converte colunas em string para float
total = convertToFloat(total, total.columns[1:], True)

total.head()

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,27.76,30.50,30.09,28.19,23.59,24.99,22.25
1,Cereais,21.20,23.36,22.98,21.75,17.78,18.88,16.47
2,Arroz não especificado,1.54,1.63,1.31,1.57,1.39,1.62,1.96
3,Arroz polido,18.22,20.48,20.28,18.80,14.87,15.57,12.40
4,Milho em grão,0.73,0.77,0.73,0.64,0.72,0.73,1.10

In [14]:
#Testando também para uma das regiões da pasta classe_de_rendimento
norte = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/norte.csv', index_col=False, squeeze=True)

#Remove colunas unamed
norte = norte.dropna(how='all', axis='columns')

#converte colunas em string para float
norte = convertToFloat(norte, norte.columns[1:], False)

norte.head()
#O mesmo pode ser feito com todas as outras planilhas seguindo esse mesmo formato descrito acima

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,26.64,26.77,28.14,25.79,27.03,24.22,23.90
1,Cereais,21.32,21.53,22.81,20.34,21.41,19.30,19.39
2,Arroz não especificado,1.97,2.50,1.71,1.64,1.44,1.75,2.27
3,Arroz polido,17.94,17.84,19.64,16.94,18.65,16.48,15.87
4,Milho em grão,0.84,0.75,1.03,0.89,0.66,0.67,0.87

In [15]:
#Testando agora para a pasta de regiao_estado, temos

norteestados = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_regiao_e_estado/norte.csv', index_col=False, squeeze=True)

#Remove colunas unamed
norteestados = norteestados.dropna(how='all', axis='columns')

#converte colunas em string para float
norteestados = convertToFloat(norteestados, norteestados.columns[1:], False)

norteestados.head()
#O mesmo pode ser feito com todas as outras planilhas seguindo esse mesmo formato descrito acima

,Alimento,Região Norte,Unidades da Federação,Rondonia,Acre,Amazonas,Roraima,Pará,Amapá
0,Cereais e leguminosas,26.64,30.86,29.39,17.21,37.78,27.17,27.91,37.05
1,Cereais,21.32,25.52,24.76,12.85,29.21,21.58,19.95,32.91
2,Arroz não especificado,1.97,1.10,3.14,0.96,1.22,2.95,1.09,0.19
3,Arroz polido,17.94,23.07,18.95,10.85,26.88,16.93,18.16,32.06
4,Milho em grão,0.84,0.74,1.24,0.70,0.27,1.11,0.26,0.11