In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format

In [2]:
total = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/total.csv', index_col=False, squeeze=True)

#Remove colunas unamed
total = total.dropna(how='all', axis='columns')

total.head()

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,27.76,30.505,30.086,28.19,23.585,24.992,22.252
1,Cereais,21.20,23.359,22.985,21.75,17.779,18.881,16.473
2,Arroz não especificado,1.54,1.634,1.306,1.57,1.394,1.623,1.959
3,Arroz polido,18.22,20.483,20.277,18.80,14.865,15.569,12.398
4,Milho em grão,0.73,0.772,0.727,0.64,0.725,0.735,1.100

In [3]:
norte = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_classe_de_rendimento/norte.csv', index_col=False, squeeze=True)

#Remove colunas unamed
norte = norte.dropna(how='all', axis='columns')

norte.head()

,Alimento,Total,Até 1 908 (1),Mais de 1 908 a 2 862,Mais de 2 862 a 5 724,Mais de 5 724 a 9 540,Mais de 9 540 a 14 310,Mais de 14 310
0,Cereais e leguminosas,"26,644","26,773","28,141","25,785","27,033","24,221","23,900"
1,Cereais,"21,324","21,531","22,810","20,342","21,411","19,304","19,389"
2,Arroz não especificado,"1,971","2,500","1,705","1,644","1,441","1,751","2,271"
3,Arroz polido,"17,942","17,845","19,637","16,937","18,648","16,485","15,873"
4,Milho em grão,"0,840","0,751","1,035","0,894","0,658","0,665","0,868"

In [4]:
norteestados = pd.read_csv(
    'dados-limpos/aquisicao_alimentar_por_regiao_e_estado/norte.csv', index_col=False, squeeze=True)

#Remove colunas unamed
norteestados = norteestados.dropna(how='all', axis='columns')

norteestados.head()

,Alimento,Região Norte,Unidades da Federação,Rondonia,Acre,Amazonas,Roraima,Pará,Amapá
0,Cereais e leguminosas,"26,644","30,856","29,392","17,211","37,779","27,170","27,908","37,050"
1,Cereais,"21,324","25,521","24,761","12,850","29,206","21,577","19,950","32,910"
2,Arroz não especificado,"1,971","1,096","3,138","0,962","1,222","2,954","1,092","0,187"
3,Arroz polido,"17,942","23,069","18,952","10,849","26,882","16,930","18,162","32,064"
4,Milho em grão,"0,840","0,744","1,244","0,698","0,265","1,108","0,256","0,112"