In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

pd.options.display.float_format = "{:.2f}".format

In [2]:
estado = "MG"

In [3]:
nome_arquivo_alimentacao = "dados-limpos/aquisicao_alimentar_por_classe_de_rendimento_e_estado/%s/dados-limpos/%s_alimentacao.csv" % (estado, estado)

In [4]:
dados_alimentacao_estado = pd.read_csv(nome_arquivo_alimentacao, index_col=False, squeeze=True)

#Remove colunas unamed
dados_alimentacao_estado = dados_alimentacao_estado.dropna(how='all', axis='columns')

In [5]:
dados_alimentacao_estado

,"Tipos de despesa, número e tamanho médio das famílias","""Despesa monetária e não monetária média mensal familiar (R$)""","""Total""","""Até 1908 (2)""",Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Despesas com alimentação,"688,51","327,38","470,26","682,91","965,76","1183,04","1511,11","2111,32"
1,Alimentação no domicílio,"421,18","233,71","310,48","432,82","562,13","664,21","784,44","1013,62"
2,"Cereais, leguminosas e oleaginosas","22,81","21,01","20,50","23,90","22,86","22,67","33,65","30,67"
3,Arroz,"14,25","13,81","13,31","15,60","13,85","12,66","14,22","12,00"
4,Feijão,"5,56","5,67","5,60","5,81","5,13","5,31","3,99","6,16"
...,...,...,...,...,...,...,...,...,...
81,"Cervejas, chopes e outras bebidas alcoólicas","8,98","3,63","6,21","9,63","15,13","14,46","9,64","16,72"
82,Alimentação light e diet,"0,09","0,11","0,05","0,09","0,15","0,00",-,"0,51"
83,Outras,"47,94","29,26","48,33","51,90","67,03","38,61","47,58","35,43"
84,Número de famílias,7149295,1392069,1478894,2470800,1092145,384637,207088,123662
85,Tamanho médio da família,"2,93","2,36","2,69","3,13","3,48","3,11","2,93","3,02"

In [6]:
nome_arquivo_despesas = "dados-limpos/aquisicao_alimentar_por_classe_de_rendimento_e_estado/%s/dados-limpos/%s_tipos_despesas.csv" % (estado, estado)

In [7]:
dados_despesas_estado = pd.read_csv(nome_arquivo_despesas, index_col=False, squeeze=True)

#Remove colunas unamed
dados_despesas_estado = dados_despesas_estado.dropna(how='all', axis='columns')

In [8]:
dados_despesas_estado

,"Tipos de despesa, número e tamanho médio das famílias","""Despesa monetária e não monetária média mensal familiar (R$)""","""Total""","""Até 1908 (2)""",Mais de 1908 a 2862,Mais de 2862 a 5724,Mais de 5724 a 9540,Mais de 9540 a 14310,Mais de 14310 a 23850
0,Despesa total,"4.390,72","1.501,78","2.271,56","3.697,32","6.575,93","9.589,42","14.391,83","23.891,78"
1,Despesas correntes,"4.082,30","1.457,93","2.159,63","3.510,91","6.027,63","8.811,94","13.263,37","20.768,46"
2,Despesas de consumo,"3.635,92","1.392,69","2.039,02","3.247,30","5.409,91","7.559,27","10.752,93","15.961,57"
3,Alimentação,"688,51","327,38","470,26","682,91","965,76","1.183,04","1.511,11","2.111,32"
4,Habitação,"1.230,81","601,35","817,04","1.148,45","1.658,10","2.278,54","3.102,18","4.744,36"
...,...,...,...,...,...,...,...,...,...
90,Diminuição do passivo,"143,70","30,34","59,54","102,50","278,77","371,04","561,06","650,42"
91,Empréstimo,"97,40","25,72","46,18","76,03","181,62","284,33","324,54","238,06"
92,Prestação de imóvel,"46,30","4,62","13,36","26,47","97,15","86,72","236,52","412,36"
93,Número de famílias,7149295,1392069,1478894,2470800,1092145,384637,207088,123662
94,Tamanho médio da família,"2,93","2,36","2,69","3,13","3,48","3,11","2,93","3,02"